.container {
  display: flex;
  flex-direction: row;
}

.grid {
  flex: 1;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .grid {
    padding: 0;
  }
  
  .container {
    flex-direction: column;
  }
}